@charset "UFT-8";

// Fonts
@font-face {
    font-family: "Michroma";
    font-style: normal;
    font-weight: 400;
    src: url("Michroma-Regular.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

// Variables
$primary-font: "Michroma", sans-serif;
$secondary-font: "Quicksand", sans-serif;

$black: #000;
$white: #fff;
$purple: #533ffc;
$turquoise: #98f9ff;

// Basic styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

html {
    position: static;
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
    font-size: 100%;
    -webkit-text-size-adjust: none;
}

body {
    height: 100%;
    font-family: $primary-font;
}

a {
    color: inherit;
}

// Global classes
.on-page-load {
    transition: none !important;
}

.underline {
    text-decoration: underline;
    text-underline-offset: 0.1em;
}

.selection::selection,
.selection br::selection {
    color: $turquoise;
    background-color: $purple;
}

.selection-turquoise::selection,
.selection-turquoise br::selection {
    color: $purple;
    background-color: $turquoise;
}

// Menu
nav#menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 2em;
    background-color: $turquoise;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;

    &.open {
        transform: translateX(0);
    }

    nav.menu__links {
        padding-right: 4em;
    }

    nav.menu__links p {
        margin: 1em 0;

        a {
            color: $purple;
            font-size: 1.7rem;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }

            @media only screen and (min-width: 36em) {
                font-size: 2rem;
            }
        }
    }

    div.menu__contact {
        margin: 4em 0 2em 0;

        p {
            padding: 0.75em 0;

            a {
                padding: 0.5em 1em;
                background-color: $purple;
                color: $turquoise;
                font-size: 1.2rem;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }

                @media only screen and (min-width: 36em) {
                    font-size: 1.5rem;
                }
            }
        }
    }

    @media only screen and (min-width: 36em) {
        width: 35em;
        padding: 4em;
    }
}

#mask.open {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

#overlay {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(84, 63, 252, 0.4);
    backdrop-filter: blur(5px);
    transition: opacity 500ms ease-in-out;
    pointer-events: none;

    #overlay__white {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: inherit;
        visibility: hidden;
        opacity: 0;
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(5px);
    }

    &.open {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;

        #overlay__white {
            visibility: visible;
            opacity: 1;
        }
    }

    @media only screen and (min-width: 36em) {
        display: block;
    }
}

// Container
.container {
    margin: 0 1em;

    @media only screen and (min-width: 36em) {
        width: 90%;
        margin: auto;
    }

    @media only screen and (min-width: 62em) {
        width: 75%;
        margin: auto;
    }

    @media only screen and (min-width: 75em) {
        width: 65%;
        margin: auto;
    }
}

// Header
header.header-index,
header.header-page {
    width: 100%;
    background-color: $purple;

    #logo {
        width: 13em;
        height: 3.89875em;
        display: flex;
        align-items: center;

        img {
            width: 13em;
            display: block;

            @media only screen and (min-width: 36em) {
                width: 17em;
            }
        }

        @media only screen and (min-width: 36em) {
            width: 17em;
            height: 5.75em;
        }
    }

    // Menu
    #menu-toggle {
        -khtml-user-select: all !important;
        -o-user-select: all !important;
        -moz-user-select: all !important;
        -webkit-user-select: all !important;
        user-select: all !important;
        pointer-events: auto !important;
    }

    @media only screen and (max-width: 36em) {
        #menu-toggle {
            width: 2.5em;
            height: 2.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 1em;
            right: 1em;
            z-index: 2;
            padding: 0.7em;
            border-radius: 4em;
            box-sizing: content-box;
            background-color: $turquoise;
            cursor: pointer;

            .line {
                display: block;
                width: 2.075em;
                height: 0.0625em;
                position: relative;
                margin: auto;
                border: none;
                background-color: $purple;
                color: inherit;
                transition: background-color 350ms;

                &::before,
                &::after {
                    content: "";
                    width: 100%;
                    height: 0.0625em;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    background-color: $purple;
                    transform-origin: 50% 0%;
                }

                &::before {
                    transform: translate(-50%, -0.5775em);
                }

                &::after {
                    transform: translate(-50%, 0.5775em);
                }

                @keyframes menuBeforeOpen {
                    0% {
                        transform: translate(-50%, -0.5775em);
                    }

                    40% {
                        transform: translate(-50%, 0);
                    }

                    60% {
                        transform: translate(-50%, 0);
                    }

                    100% {
                        transform: translate(-50%, 0) rotate(45deg);
                    }
                }

                @keyframes menuAfterOpen {
                    0% {
                        transform: translate(-50%, 0.5775em);
                    }

                    40% {
                        transform: translate(-50%, 0);
                    }

                    60% {
                        transform: translate(-50%, 0);
                    }

                    100% {
                        transform: translate(-50%, 0) rotate(-45deg);
                    }
                }

                @keyframes menuBeforeClose {
                    0% {
                        transform: translate(-50%, 0) rotate(45deg);
                    }

                    40% {
                        transform: translate(-50%, 0);
                    }

                    60% {
                        transform: translate(-50%, 0);
                    }

                    100% {
                        transform: translate(-50%, -0.5775em);
                    }
                }

                @keyframes menuAfterClose {
                    0% {
                        transform: translate(-50%, 0) rotate(-45deg);
                    }

                    40% {
                        transform: translate(-50%, 0);

                    }

                    60% {
                        transform: translate(-50%, 0);
                    }

                    100% {
                        transform: translate(-50%, 0.5775em);
                    }
                }
            }

            &.open .line {
                background-color: transparent;

                &::before {
                    animation: menuBeforeOpen 500ms forwards;
                }

                &::after {
                    animation: menuAfterOpen 500ms forwards;
                }
            }

            &.close .line {

                &::before {
                    animation: menuBeforeClose 500ms forwards;
                }

                &::after {
                    animation: menuAfterClose 500ms forwards;
                }
            }
        }
    }

    @media only screen and (min-width: 36em) {
        #menu-toggle {
            width: 3.75em;
            height: 3.75em;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 2em;
            right: 2em;
            z-index: 2;
            padding: 1em;
            border-radius: 4em;
            box-sizing: content-box;
            background-color: $turquoise;
            cursor: pointer;

            .line {
                display: block;
                width: 3.125em;
                height: 0.0625em;
                position: relative;
                margin: auto;
                border: none;
                background-color: $purple;
                color: inherit;
                transition: background-color 350ms;

                &::before,
                &::after {
                    content: "";
                    width: 100%;
                    height: 0.0625em;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    background-color: $purple;
                    transform-origin: 50% 0%;
                }

                &::before {
                    transform: translate(-50%, -0.875em);
                }

                &::after {
                    transform: translate(-50%, 0.875em);
                }

                @keyframes menuBeforeOpen {
                    0% {
                        transform: translate(-50%, -0.875em);
                    }

                    40% {
                        transform: translate(-50%, 0);
                    }

                    60% {
                        transform: translate(-50%, 0);
                    }

                    100% {
                        transform: translate(-50%, 0) rotate(45deg);
                    }
                }

                @keyframes menuAfterOpen {
                    0% {
                        transform: translate(-50%, 0.875em);
                    }

                    40% {
                        transform: translate(-50%, 0);
                    }

                    60% {
                        transform: translate(-50%, 0);
                    }

                    100% {
                        transform: translate(-50%, 0) rotate(-45deg);
                    }
                }

                @keyframes menuBeforeClose {
                    0% {
                        transform: translate(-50%, 0) rotate(45deg);
                    }

                    40% {
                        transform: translate(-50%, 0);
                    }

                    60% {
                        transform: translate(-50%, 0);
                    }

                    100% {
                        transform: translate(-50%, -0.875em);
                    }
                }

                @keyframes menuAfterClose {
                    0% {
                        transform: translate(-50%, 0) rotate(-45deg);
                    }

                    40% {
                        transform: translate(-50%, 0);

                    }

                    60% {
                        transform: translate(-50%, 0);
                    }

                    100% {
                        transform: translate(-50%, 0.875em);
                    }
                }
            }

            &.open .line {
                background-color: transparent;

                &::before {
                    animation: menuBeforeOpen 500ms forwards;
                }

                &::after {
                    animation: menuAfterOpen 500ms forwards;
                }
            }

            &.close .line {

                &::before {
                    animation: menuBeforeClose 500ms forwards;
                }

                &::after {
                    animation: menuAfterClose 500ms forwards;
                }
            }
        }
    }
}

header.header-index {

    .header__navbar {
        height: 5.89875em;
        padding: 1em;

        @media only screen and (min-width: 36em) {
            height: 9.75em;
            padding: 2em;
        }
    }

    .header__heading {
        width: 100%;
        height: 20em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;

        h1 {
            color: $turquoise;
            font-size: 2.5rem;
            text-align: center;
            margin-top: -2.89875rem;

            @media only screen and (min-width: 36em) {
                margin-top: -4.875rem;
            }

            @media only screen and (min-width: 62em) {
                font-size: 3.5rem;
            }
        }

        @media only screen and (min-width: 36em) {
            padding: 2em;
        }

        @media only screen and (min-width: 62em) {
            height: 25em;
        }
    }
}

header.header-page {
    height: 9.75em;
    padding: 0 1em;

    @media only screen and (min-width: 36em) {
        padding: 2em;
    }
}

// Heading
h1.heading-index {
    font-size: 3rem;
    text-align: center;
    margin: 2em 0;
}

// Hero
#hero {
    padding-right: calc(-1 * (100vw - 100%));
    background-image: url("./images/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;

    @media only screen and (max-width: 62em) {
        height: 30em !important;
        background-attachment: scroll;
        background-size: cover;

        #hero__content {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1em;
            background-color: #00000033;

            h1 {
                color: $white;
                font-size: 2.5rem;
                text-align: center;
            }
        }
    }

    @media only screen and (min-width: 62em) {
        position: relative;
        background-attachment: fixed;
        background-size: cover;

        #hero__content {
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            h1 {
                color: $white;
                font-size: 3rem;
                text-align: center;
            }
        }
    }
}

// Front-page main
main.main-index {
    margin: 2em 0;

    // Sections
    section {
        margin: 2em 0;

        h2 {
            color: $purple;
            text-align: center;
            margin-bottom: 1em;
        }

        p {
            text-align: center;
        }

        @media only screen and (min-width: 36em) {
            margin: 3em 0;
        }

        @media only screen and (min-width: 62em) {
            margin: 4em 0;
        }
    }

    // Section 1
    section.section-1 {
        .section-1__grid {
            gap: 2em;
            display: grid;
            margin-top: 2em;
            grid-template-columns: repeat(1, 1fr);

            i {
                display: block;
                margin-bottom: 1em;

                &::before {
                    display: block;
                    color: $purple;
                    font-size: 3.5rem;
                    text-align: center;
                }
            }

            p {
                color: $purple;
                font-family: $primary-font;
                font-size: 1.2rem;
            }

            @media only screen and (min-width: 36em) {
                grid-template-columns: repeat(3, 1fr);
            }

            @media only screen and (min-width: 62em) {
                width: 90%;
                margin: 2em auto 0 auto;
            }

            @media only screen and (min-width: 75em) {
                width: 80%;
            }
        }
    }

    // Section 2
    .section-2__grid {
        gap: 2em;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;

        #house #house__svg .house__part {
            cursor: pointer;
            transition: fill 100ms ease-in-out;
        }

        #descriptions {
            width: 100%;
            height: 100%;
            position: relative;
            background-color: $purple;

            .description {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                visibility: hidden;
                opacity: 0;
                padding: 1em;
                color: $white;
                transition: opacity 100ms ease-in-out;

                h3 {
                    font-size: 1.5rem;
                    margin-bottom: 0.7em;

                    mark {
                        color: $purple;
                        background-color: $turquoise;
                        padding: 0.1em 0.3em;
                    }
                }

                p {
                    text-align: left;
                }

                &#info {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        font-size: 1.2rem;
                        text-align: center;
                    }
                }

                @media only screen and (min-width: 62em) {
                    padding: 2em;
                }
            }
        }

        @media only screen and (min-width: 36em) {
            grid-template-rows: auto;
            grid-template-columns: 1fr 1fr;
        }
    }

    .uspora {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;

        h3 {
            text-align: center;
        }

        .uspora__section-1 {
            display: flex;
            justify-self: center;
            align-items: center;
            padding: 2em;
            background-color: $turquoise;

            h3 {
                color: $purple;
                font-size: 1.7rem;
                margin-bottom: 1em;

                @media only screen and (min-width: 36em) {
                    font-size: 1.5rem;
                }

                @media only screen and (min-width: 62em) {
                    font-size: 1.8rem;
                }

                @media only screen and (min-width: 75em) {
                    font-size: 2rem;
                }
            }

            input#uspora__input {
                width: 100%;
            }

            #uspora__values {
                width: 100%;
                height: 2.125em;
                min-height: 2.125em;
                margin-top: 2em;
                position: relative;

                .value {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 0;
                    left: 0;

                    p {
                        color: $purple;
                        font-size: 1.5rem;

                        @media only screen and (min-width: 75em) {
                            font-size: 2rem;
                        }
                    }
                }

                @media only screen and (min-width: 75em) {
                    height: 10em;
                }
            }
        }

        .uspora__section-2 {
            position: relative;
            background-color: $purple;

            .estimate {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;
                left: 0;
                padding: 2em;

                p {
                    color: $turquoise;
                    font-size: 1.5rem;
                    line-height: 2;

                    br {
                        display: none;
                    }

                    mark {
                        color: $purple;
                        background-color: $turquoise;
                        padding: 0.1em 0.2em;
                        font-weight: bold;
                        white-space: nowrap;
                    }

                    @media only screen and (min-width: 36em) {
                        font-size: 1.4rem;
                    }

                    @media only screen and (min-width: 75em) {
                        font-size: 1.7rem;
                    }
                }
            }
        }

        @media only screen and (min-width: 36em) {
            height: 20em;
            grid-template-rows: auto;
            grid-template-columns: 1fr 1fr;
        }

        @media only screen and (min-width: 62em) {
            height: 30em;
        }
    }

    @media only screen and (min-width: 62em) {
        margin: 3em 0;
    }

    @media only screen and (min-width: 75em) {
        margin: 4em 0;
    }
}

// Page styles
.container-page {
    min-height: calc(100vh - 9.75em);
    gap: 4em;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: "page__heading""page__main""page__footer";

    .heading-page {
        padding: 4em 0;
        background-color: $turquoise;
        grid-area: page__heading;

        h1 {
            position: fixed;
            top: 50%;
            transform: translateY(-50%);
            color: $purple;
            font-size: 3rem;
            text-align: center;
        }

        @media only screen and (min-width: 62em) {
            display: flex;
            justify-content: center;
        }
    }

    main {
        padding: 0 1em 4em 1em;
        grid-area: page__main;

        @media only screen and (min-width: 36em) {
            padding: 0 2em 4em 2em;
        }

        @media only screen and (min-width: 62em) {
            padding: 4em 4em 4em 0;
        }
    }

    footer {
        grid-area: page__footer;
    }

    @media only screen and (min-width: 62em) {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "page__heading page__main""page__heading page__footer";
        padding-right: 4em;
    }
}

// Materiály
main.materialy {
    gap: 2em;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    .material {

        a {
            text-decoration: none;

            h2 {
                mark {
                    color: $purple;
                    background-color: $turquoise;
                }
            }

            &:hover,
            &:focus {
                h2 mark {
                    color: $turquoise;
                    background-color: $purple;
                }
            }
        }

        @media only screen and (min-width: 62em) {
            grid-template-rows: auto;
            grid-template-columns: 3fr 7fr;
        }
    }
}

// Materiál
main.material {
    h3 {
        margin: 1em 0 0.5em 0;
    }

    ul {
        padding-left: 2.5em;

        li {
            margin: 0.5em 0;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;

        td {
            border: 1px solid $black;
        }
    }
}

// O nás
main.o-nas {
    img {
        width: 100%;
    }
}

// Kontakt
main.kontakt {
    #contact-form {
        display: grid;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas: "fieldset-name""fieldset-email""fieldset-tel""fieldset-subject""fieldset-message""button";

        * {
            display: block;
        }

        fieldset {
            border: none;

            input,
            textarea {
                width: 100%;
            }

            &#fieldset-name {
                grid-area: fieldset-name;
            }

            &#fieldset-email {
                grid-area: fieldset-email;
            }

            &#fieldset-tel {
                grid-area: fieldset-tel;
            }

            &#fieldset-subject {
                grid-area: fieldset-subject;
            }

            &#fieldset-message {
                grid-area: fieldset-message;
            }
        }

        button {
            grid-area: button;
        }

        @media only screen and (min-width: 36em) {
            grid-template-rows: auto auto auto auto;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "fieldset-name fieldset-email""fieldset-tel fieldset-subject""fieldset-message fieldset-message""button button";
        }
    }
}

// Footer
footer {
    margin: 2em 1em;

    p {
        text-align: center;

        a {
            text-decoration: none;
            transition: color 200ms ease-in-out;

            &:hover {
                color: $purple;
            }
        }
    }

    #signature {
        a {
            color: inherit;
            text-align: center;

            &:hover {
                color: $purple;
            }
        }

        svg {
            height: 12px;
            fill-rule: evenodd;
            clip-rule: evenodd;
            stroke-linejoin: round;
            stroke-miterlimit: 2;

            path {
                fill: $purple;
            }
        }
    }

    .copyright {
        color: $black;
    }

    .copyright:hover {
        color: $purple;
    }
}