@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: "Michroma";
  font-style: normal;
  font-weight: 400;
  src: url("Michroma-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  font-size: 100%;
  -webkit-text-size-adjust: none;
}

body {
  height: 100%;
  font-family: "Michroma", sans-serif;
}

a {
  color: inherit;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 0.1em;
}

.selection::selection,
.selection br::selection {
  color: #98f9ff;
  background-color: #533ffc;
}

.selection-turquoise::selection,
.selection-turquoise br::selection {
  color: #533ffc;
  background-color: #98f9ff;
}

.on-page-load {
  transition: none !important;
}

nav#menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  overflow-y: auto;
  padding: 4em 8em 4em 4em;
  background-color: #98f9ff;
  transform: translateX(100%);
  transition: transform 500ms ease-in-out;
}

nav#menu.open {
  transform: translateX(0);
}

nav#menu nav.menu__links p {
  margin: 1em 0;
}

nav#menu nav.menu__links p a {
  color: #533ffc;
  font-size: 2rem;
  text-decoration: none;
}

nav#menu nav.menu__links p a:hover {
  text-decoration: underline;
}

nav#menu div.menu__contact {
  margin: 4em 0 2em 0;
}

nav#menu div.menu__contact p {
  padding: 0.75em 0;
}

nav#menu div.menu__contact p a {
  padding: 0.5em 1em;
  background-color: #533ffc;
  color: #98f9ff;
  font-size: 1.5rem;
  text-decoration: none;
}

nav#menu div.menu__contact p a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 36em) {
  nav#menu {
    width: 35em;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  background-color: rgba(84, 63, 252, 0.4);
  backdrop-filter: blur(5px);
  transition: opacity 500ms ease-in-out;
}

.overlay .overlay__white {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: inherit;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
}

.overlay.open {
  z-index: 1;
  opacity: 1;
}

@media only screen and (min-width: 36em) {
  .overlay {
    display: block;
  }
}

.container {
  margin: 0 1em;
}

@media only screen and (min-width: 36em) {
  .container {
    width: 90%;
    margin: auto;
  }
}

@media only screen and (min-width: 62em) {
  .container {
    width: 75%;
    margin: auto;
  }
}

@media only screen and (min-width: 75em) {
  .container {
    width: 65%;
    margin: auto;
  }
}

header.header-index,
header.header-page {
  width: 100%;
  background-color: #533ffc;
}

header.header-index #logo,
header.header-page #logo {
  width: 17em;
  height: 5.75em;
  display: flex;
  align-items: center;
}

header.header-index #logo img,
header.header-page #logo img {
  width: 17em;
  display: block;
}

header.header-index #menu-toggle,
header.header-page #menu-toggle {
  width: 3.75em;
  height: 3.75em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 2em;
  right: 2em;
  z-index: 2;
  padding: 1em;
  border-radius: 4em;
  box-sizing: content-box;
  background-color: #98f9ff;
  cursor: pointer;
}

header.header-index #menu-toggle .line,
header.header-page #menu-toggle .line {
  display: block;
  width: 3.125em;
  height: 0.0625em;
  position: relative;
  margin: auto;
  border: none;
  background-color: #533ffc;
  color: inherit;
  transition: background-color 350ms;
}

header.header-index #menu-toggle .line::before, header.header-index #menu-toggle .line::after,
header.header-page #menu-toggle .line::before,
header.header-page #menu-toggle .line::after {
  content: "";
  width: 100%;
  height: 0.0625em;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #533ffc;
  transform-origin: 50% 0%;
}

header.header-index #menu-toggle .line::before,
header.header-page #menu-toggle .line::before {
  transform: translate(-50%, -0.875em);
}

header.header-index #menu-toggle .line::after,
header.header-page #menu-toggle .line::after {
  transform: translate(-50%, 0.875em);
}

@keyframes menuBeforeOpen {
  0% {
    transform: translate(-50%, -0.875em);
  }
  40% {
    transform: translate(-50%, 0);
  }
  60% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, 0) rotate(45deg);
  }
}

@keyframes menuAfterOpen {
  0% {
    transform: translate(-50%, 0.875em);
  }
  40% {
    transform: translate(-50%, 0);
  }
  60% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, 0) rotate(-45deg);
  }
}

@keyframes menuBeforeClose {
  0% {
    transform: translate(-50%, 0) rotate(45deg);
  }
  40% {
    transform: translate(-50%, 0);
  }
  60% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, -0.875em);
  }
}

@keyframes menuAfterClose {
  0% {
    transform: translate(-50%, 0) rotate(-45deg);
  }
  40% {
    transform: translate(-50%, 0);
  }
  60% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, 0.875em);
  }
}

header.header-index #menu-toggle.open .line,
header.header-page #menu-toggle.open .line {
  background-color: transparent;
}

header.header-index #menu-toggle.open .line::before,
header.header-page #menu-toggle.open .line::before {
  animation: menuBeforeOpen 500ms forwards;
}

header.header-index #menu-toggle.open .line::after,
header.header-page #menu-toggle.open .line::after {
  animation: menuAfterOpen 500ms forwards;
}

header.header-index #menu-toggle.close .line::before,
header.header-page #menu-toggle.close .line::before {
  animation: menuBeforeClose 500ms forwards;
}

header.header-index #menu-toggle.close .line::after,
header.header-page #menu-toggle.close .line::after {
  animation: menuAfterClose 500ms forwards;
}

@media only screen and (min-width: 36em) {
  header.header-index #menu-toggle,
  header.header-page #menu-toggle {
    right: 5%;
  }
}

header.header-index .header__navbar {
  height: 9.75em;
  padding: 0 1em;
}

@media only screen and (min-width: 36em) {
  header.header-index .header__navbar {
    padding: 2em 5%;
  }
}

header.header-index .header__heading {
  width: 100%;
  height: 25em;
  position: relative;
}

header.header-index .header__heading h1 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  color: #98f9ff;
  font-size: 3.5rem;
  text-align: center;
}

header.header-page {
  height: 9.75em;
  padding: 0 1em;
}

@media only screen and (min-width: 36em) {
  header.header-page {
    padding: 2em 5%;
  }
}

h1.heading-index {
  font-size: 3rem;
  text-align: center;
  margin: 2em 0;
}

.hero {
  height: 60%;
  padding-right: calc(-1 * (100vw - 100%));
  background-image: url("./images/hero.jpg");
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 62em) {
  .hero {
    background-attachment: fixed;
  }
}

main.main-index {
  margin: 2em 0;
}

main.main-index section {
  margin: 2em 0;
}

main.main-index section h2 {
  color: #533ffc;
  text-align: center;
  margin-bottom: 1em;
}

main.main-index section p {
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

@media only screen and (min-width: 36em) {
  main.main-index section {
    margin: 3em 0;
  }
}

@media only screen and (min-width: 62em) {
  main.main-index section {
    margin: 4em 0;
  }
}

main.main-index section.section-1 .section-1__grid {
  gap: 2em;
  display: grid;
  margin-top: 2em;
  grid-template-columns: repeat(1, 1fr);
}

main.main-index section.section-1 .section-1__grid i {
  display: block;
  margin-bottom: 1em;
}

main.main-index section.section-1 .section-1__grid i::before {
  display: block;
  color: #533ffc;
  font-size: 3.5rem;
  text-align: center;
}

main.main-index section.section-1 .section-1__grid p {
  color: #533ffc;
  font-family: "Michroma", sans-serif;
  font-size: 1.2rem;
}

@media only screen and (min-width: 36em) {
  main.main-index section.section-1 .section-1__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 62em) {
  main.main-index section.section-1 .section-1__grid {
    width: 90%;
    margin: 2em auto 0 auto;
  }
}

@media only screen and (min-width: 75em) {
  main.main-index section.section-1 .section-1__grid {
    width: 80%;
  }
}

@media only screen and (min-width: 36em) {
  main.main-index {
    margin: 2em 0;
  }
}

@media only screen and (min-width: 62em) {
  main.main-index {
    margin: 3em 0;
  }
}

@media only screen and (min-width: 75em) {
  main.main-index {
    margin: 4em 0;
  }
}

.heading-page {
  padding: 3em 0;
  background-color: #98f9ff;
}

.heading-page h1 {
  color: #533ffc;
  font-size: 3rem;
  text-align: center;
}

@media only screen and (min-width: 62em) {
  .heading-page {
    height: calc(100vh - 9.75em);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

main.main-page {
  gap: 4em;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 62em) {
  main.main-page {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}

main.main-materialy .materialy {
  gap: 2em;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

main.main-materialy .materialy .material a {
  text-decoration: none;
}

main.main-materialy .materialy .material a h2 mark {
  color: #533ffc;
  background-color: #98f9ff;
}

main.main-materialy .materialy .material a:hover h2 mark, main.main-materialy .materialy .material a:focus h2 mark {
  color: #98f9ff;
  background-color: #533ffc;
}

@media only screen and (min-width: 62em) {
  main.main-materialy .materialy .material {
    grid-template-rows: auto;
    grid-template-columns: 3fr 7fr;
  }
}

footer {
  margin: 2em 1em;
}

footer p {
  text-align: center;
}

footer p a {
  text-decoration: none;
  transition: color 200ms ease-in-out;
}

footer p a:hover {
  color: #533ffc;
}

footer #signature a {
  color: inherit;
  text-align: center;
}

footer #signature a:hover {
  color: #533ffc;
}

footer #signature svg {
  height: 12px;
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
}

footer #signature svg path {
  fill: #533ffc;
}

footer .copyright {
  color: #000;
}

footer .copyright:hover {
  color: #533ffc;
}
